---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { SEO } from "astro-seo";

const blogPosts = await getCollection("blog");
// console.log(blogPosts);
---

<Layout title="Home">
  <SEO
    slot="seo"
    title="Astro News Portal"
    description="Welcome to the Astro News Portal, where you can find the latest news."
    openGraph={{
      basic: {
        type: "website",
        title: "Astro News Portal",
        image: "/4.png",
      },
      image: {
        alt: "Thumbnail",
      },
    }}
  />

  <!-- <h1>Homepage</h1>
  <h2>Slider Posts</h2>
  <ul>
    {
      blogPosts
        .filter((post) => post.data.isPinned)
        .map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ul> -->

  <h2>Articles</h2>
  <main class="container mt-content">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {
        blogPosts.map((post) => (
          <div class="col">
            <Card post={post} />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
